# Bot Token
BOT_TOKEN=8605778216:AAG5dufKeXM18G-jcqVtB1mF43WXA5eDgQc
BOT_USERNAME=@AniComplexBot

# MongoDB
MONGO_URI=mongodb+srv://ShadowUzDev:ShadowUzDevAnimeshnik@cluster0.vudnhub.mongodb.net/?appName=AniComplex

# Security
SWITCH_SECRET_TOKEN=your_secret_token_here_12345

# Render Account 1
RENDER_API_KEY_1=rnd_your_api_key_here_1
RENDER_SERVICE_ID_1=srv_your_service_id_here_1

# Render Account 2
RENDER_API_KEY_2=rnd_your_api_key_here_2
RENDER_SERVICE_ID_2=srv_your_service_id_here_2

# Flask
RENDER_EXTERNAL_URL=https://anicomplex.onrender.com
PORT=10000
